//fonts
$font: 'Roboto', sans-serif;

//colors
$primary-color: #2d2d2d;
$border-color: #2d2d2d;
$dark-gray: #2d2d2c;
$main-color: #f98012;
$color-white: #fff;
$color-yellow: #f5e852;
$price-color: #5e5e5e;
$additional-font: #363636;
$input-border-color: #d7d7d7;
$white: #fff;

// screens
$large-screen: 1200px;
$medium-screen: 768px;
$small-screen: 480px;

//slider-buubles
$slider-bubble-active: #eeeceb;
$slider-bubble: #c0c0c0;